<script type="text/javascript">
    RED.nodes.registerType('reinforced-agent',
    {
        category: 'sense iot neural networks',
        color: '#b27fb2',
        defaults: 
        {
            name: {value:"Reinforced Agent"},
            layers: {value:"[3, 3, 1]", required:true},
            activationtype: {value: "linear", require:true},
            learnspeed: {value: 5, require: true},
            mutation: {value: 1, require: true}
        },
        inputs:1,
        outputs:1,
        icon: "sense.png",
        label: function() 
        {
            return (this.name||"Reinforced Agent");
        }
    });
</script>

<script type="text/html" data-template-name="reinforced-agent">
    <div class="form-row">
        <label for="node-input-name"><i class="icon-tag"></i> Name</label>
        <input type="text" id="node-input-name" placeholder="Name">
    </div>
    <div class="form-row">
        <label for="node-input-layers"><i class="icon-tag"></i> Layers</label>
        <input type="text" id="node-input-layers" placeholder="[3, 3, 1]" value="[3, 3, 1]">
    </div>
    <div class="form-row">
        <label for="node-input-activationtype"><i class="icon-tag"></i> Activation Type</label>
        <select id="node-input-activationtype">
            <option value="linear">Linear</option>
            <option value="relu">ReLU</option>
            <option value="sigmoid">Sigmoid</option>
            <option value="tanh">TanH</option>
            <option value="softplus">SoftPlus</option>
          </select>
    </div>
    <div class="form-row">
        <label for="node-input-learnspeed"><i class="icon-tag"></i> Learn Evaluation Interval</label>
        <input type="number" id="node-input-learnspeed" placeholder="5" value="5">
    </div>
    <div class="form-row">
        <label for="node-input-mutation"><i class="icon-tag"></i> Mutation Scale</label>
        <input type="number" id="node-input-mutation" placeholder="1" value="1">
    </div>
</script>

<script type="text/html" data-help-name="reinforced-agent">
    <p>Input a number array to receive the network output in JSON as a new number array, depending on layer settings.<br>
        The first layer determines the length of the number array input, the last layer determines the array length in output.<br>
        Inputting positive or negative feedback allows the agent to improve itself<br>
        <br>
        Set the msg.topic when sending input to determine the node action.<br>
        - output: supply an array of numbers for the agent. It will output an array with numbers from the network.<br>
        - fitness: Get the current fitness value.<br>
        - tostring: converts the agent to a string and outputs it.<br>
        - parse: supply a agent-string to load the agent within.<br>
        - good: rewards positive feedback to the agent.<br>
        - bad: punishes the agent with negative feedback.<br>
        - getnetwork: outputs a network-string of the current internal neural network in the agent.<br>
        - getbestnetwork: outputs a network-string of the last best positive iteration of the internal neural network in the agent.</p>
</script>