<script type="text/javascript">
    RED.nodes.registerType('neural-network',
    {
        category: 'sense iot neural networks',
        color: '#b27fb2',
        defaults: 
        {
            name: {value:"Neural Network"},
            layers: {value:"[3, 3, 1]", required:true},
            activationtype: {value: "linear", require:true}
        },
        inputs:1,
        outputs:1,
        icon: "sense.png",
        label: function() 
        {
            return this.name||"Neural Network";
        }
    });
</script>

<script type="text/html" data-template-name="neural-network">
    <div class="form-row">
        <label for="node-input-name"><i class="icon-tag"></i> Name</label>
        <input type="text" id="node-input-name" placeholder="Name">
    </div>
    <div class="form-row">
        <label for="node-input-layers"><i class="icon-tag"></i> Layers</label>
        <input type="text" id="node-input-layers" placeholder="[3, 3, 1]" value="[3, 3, 1]">
    </div>
    <div class="form-row">
        <label for="node-input-activationtype"><i class="icon-tag"></i> Activation Type</label>
        <select id="node-input-activationtype">
            <option value="linear">Linear</option>
            <option value="relu">ReLU</option>
            <option value="sigmoid">Sigmoid</option>
            <option value="tanh">TanH</option>
            <option value="softplus">SoftPlus</option>
          </select>
    </div>
</script>

<script type="text/html" data-help-name="neural-network">
    <p>Input a number array to receive the network output in JSON as a new number array, depending on layer settings.<br>
        The first layer determines the length of the number array input, the last layer determines the array length in output.<br>
        <br>
        Set the msg.topic when sending input to determine the node action.<br>
        - output: supply an array of numbers for the network. It will output an array with numbers from the network.<br>
        - mutate: mutates the network randomly.<br>
        - fitness: supply an empty payload to get the current fitness value. Supply a number to set the new fitness value.<br>
        - tostring: converts the network to a string and outputs it.<br>
        - parse: supply a network-string to load the network within.</p>
</script>